.carousel_imagen{
    width:100%;
    height:550px;
}
footer{
    background-color: rgb(10,10,20);
    color: gray;
}
.navegador{
    position: sticky;
    top: 0px;
    z-index: 16;
    background-color: rgb(10,10,20);
    height:70px;
    color: white;
}
.navegador>div>div:hover{
    cursor: pointer;
    color: white;
}
.contenedor-proyectos{
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    width: 80%;
}
.tarjeta{
    margin-bottom: 30px;
}
#menu{
    background-image: linear-gradient(rgb(0,0,0),rgba(30,30,30,0.85));
    color:white;
    display:none;
    padding-top:30px;
}
#menu>div{
    padding: 15px;
}
#menu>div:hover{
    background-color: rgb(25,158,218);
}
.navegador > .menu > div{
    top: -10px;
}
.contenedor-nosotros{
    text-align:center;
}
.contenedor-nosotros .card{
    background-color: rgba(0,0,0,0);
    border: none;
    width: 100%;
}
.contenedor-nosotros .card img{
    width: 60%;
    margin:auto;
}
#mision{
    width: 34%;
    margin: auto;
}
#menu{
    position: relative;
    top: -10px;
    z-index: 13;
}
.menu div{
    z-index:17;
}
#carouselExampleIndicators{
    width:100%;
}
.informacion{
    margin-top:13px;
}
.informacion #titulo{
    font-weight:bold;
    color: rgb(25,158,218);
}
@media only screen and (min-width: 400px){
    #titulo{
        font-size: 55px;
    }
    .informacion p{
        font-size:20px;
    }
}
@media only screen and (max-width: 399px){
    #titulo{
        font-size: 45px;
    }
    .informacion p{
        font-size: 18px;
    }
}
#mostrar-contrasena{
    border: none;
    background-color: rgba(0,0,0,0);
}
#mostrar-contrasena-imagen:hover{
    cursor: pointer;
}
/**/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
    float:left;
    margin-right: 10%;
  }
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input.success:checked + .slider {
    background-color: #8bc34a;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  /**/
.categorias div div{
    height: 60px;
    background-color:#dfeeee;
}
.has-search .form-control {
    padding-left: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
.categorias li{
    margin-top: 8px;
    width: 100%;
}
.categorias h1{
    margin-top: 10px;
    margin-bottom: 15px;
}
.list-group li{
    background-color: rgba(0,0,0,0);
}
@media only screen and (max-width: 500px){
    .categorias{
        font-size: 13px;
    }
    .switch {
        margin-right: 0px;
    }
    .categorias li{
        padding-right: 0px;
    }
    .categorias h1{
        font-size: 30px;
    }
}
@media only screen and (min-width: 501px){
    .switch {
        margin-left: 20%;
        margin-right: 20px;
    }
}
.tarjeta{
    padding-bottom: 20px;
    border-bottom: solid 2px gray;
}
.paginas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categorias .row{
    margin-left: -15px;
    margin-right: -15px;
}
.categorias h1{
    color:rgb(42, 206, 204);
    font-weight: bold;
    text-align: center;
}
#baner{
    background-color:#1D6B87;
    text-align: center;
    padding-top:55px;
    padding-bottom: 55px;
}
.ideas-principal{
    width: 80%;
}
.contenedor-de-ideas{
    display: flex;
    justify-content: center;
    align-items: center;
}
#baner .titulo{
    color:rgb(42, 206, 204);
    font-size:55px;
    font-weight: bold;
}
.descripcion{
    background-color:#F0F7F7;
    text-align:center;
    padding-top:35px;
    padding-bottom: 35px;
}
.descripcion{
    font-size:20px;
}
.contenedor-imagenes-nosotros{
    background-color:#dfeeee;
    padding-top:30px;
}
.navegador>div>div>font:hover{
    cursor: pointer;
    color: rgb(25,158,218);
}
.registro{
    padding: 10px 20px 10px 20px;
}
.ingreso{
    padding: 25px 5px 15px 5px;
    padding-top:10px;
}
.contenedor-nosotros .card{
    width: 100%;
}
#operaciones-perfil{
    background-color:#1D6B87;
}
.titulo-perfil{
    font-weight: bold;
}
.perfil-info{
    margin-top: 20px;
}
.perfil-info .card-header{
    background-color:#dfeeee;
}
.edit-perfil{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    background-color:#dfeeee;
}
.edit-perfil .imagen-perfil img{
    height: 300px;
    border-radius: 50%;
}
.contenedor-ideas-perfil{
    width:80%;
    margin: auto;
}
.row{
    margin: 0px;
}
.text-muted{
    width: 100%;
}
.text-muted > p{
    text-align: center
}

@media only screen and (min-width: 998px){
    #baner .titulo{
        font-size: 55px;
    }
    #baner p{
        color:white;
        font-size: 20px;
    }
}
@media only screen and (max-width: 997px){
    #baner .titulo{
        font-size: 35px;
    }
    #baner p{
        color:white;
        font-size:17px;
    }
}
@media only screen and (max-width: 500px){
    #baner .titulo{
        font-size: 30px;
    }
    #baner p{
        color:white;
        font-size: 14px;
    }
}
@media only screen and (max-width: 350px){
    #baner .titulo{
        font-size: 28px;
    }
    #baner p{
        color:white;
        font-size: 12px;
    }
}
@media only screen and (max-width: 575px){
    .contenedor-ideas-perfil h5{
        font-size: 15px;
    }
    .contenedor-ideas-perfil p{
        font-size: 10px;
    }
    .contenedor-ideas-perfil{
        width: 100%;
    }
    .contenedor-ideas-perfil a{
        font-size: 13px;
    }
}
.imagen-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-ideas-perfil .ideas-perfil img:hover{
    cursor: pointer;
    filter: opacity(0.5);
    transition: filter .2s;

}
#cambiar-foto{
    position: relative;
    height: 300px;
    width: 100%;
    top: -300px;
    margin-bottom: -300px;
    border-radius: 50%;
    display: none;
}
#imagen-contenedor:hover{
    cursor: pointer;
}
#imagen-contenedor:hover > #cambiar-foto{
    display: flex;
    background-color: rgba(0,50,50,0.6);
}
#cambiar-foto{
    color: aliceblue;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}
.ideas-perfil{
    margin-top: 100px;
}
.contenedor-ideas-perfil{
    margin-top: 60px;
}
.card .progress{
    margin-bottom: 15px;
}

@media only screen and (min-width: 998px){
    .carousel-inner div  >img{
        height:450px;
    }
    #carouselExampleIndicators{
        height:450px;
    }
}
@media only screen and (max-width: 997px){
    .carousel-inner div  >img{
        height:400px;
    }
    #carouselExampleIndicators{
        height:400px;
    }
}
@media only screen and (max-width: 500px){
    .carousel-inner div >img{
        height:200px;
    }
    #carouselExampleIndicators{
        height:200px;
    }
}
@media only screen and (max-width: 350px){
    .carousel-inner div  >img{
        height:180px;
    }
    #carouselExampleIndicators{
        height:180px;
    }
}